<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
			type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CertUpdate.Properties.Settings"
				type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<system.diagnostics>
		<trace autoflush="false" indentsize="4">
			<listeners>
				<clear/>
				<add name="myListener"
					type="System.Diagnostics.TextWriterTraceListener"
					initializeData="CertificateRenewal.log" />
			</listeners>
		</trace>
	</system.diagnostics>
	<applicationSettings>
		<CertUpdate.Properties.Settings>
			<setting name="PrivateKeyPath" serializeAs="String">
				<value>--MUST BE SET--</value>
			</setting>
			<setting name="DomainConfigPath" serializeAs="String">
				<value>--MUST BE SET--</value>
			</setting>
			<setting name="RenewBufferDays" serializeAs="String">
				<value>30</value>
			</setting>
		</CertUpdate.Properties.Settings>
	</applicationSettings>
</configuration>